.eventCrdBgClr1 {
    background-color: #cad6e33d;
}

.eventCrdBgClr2 {
    background-color: #e6f3f0ba;
}

.eventCrdBgClr3 {
    background-color: #e3e8f4;
}

.eventCrdBgClr4 {
    background-color: #ededed;
}

.eventCrdBgClr5 {
    background-color: #ececec;
}