.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.modal-open {
  overflow: inherit !important;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.bg-error {
  background-color: #1d2345;
}

.bg-hrLanding {
  background-color: #252526;
}

/* spiner margin  */
.spiner-margin {
  margin-top: 100px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.image-size {
  width: 70%;
  padding-bottom: 15px;
}

.page-size {
  height: 100vh;
  width: 100%;
}

.dataBreak {
  width: 300px !important;
  word-wrap: break-word;
}

.lease-data-break {
  width: 250px !important;
  word-wrap: break-word;
}

.status-data-break {
  width: 120px !important;
  word-wrap: break-word;
}

.comments-data-break {
  width: 400px !important;
  word-wrap: break-word;
}

.application-data-break {
  width: 850px !important;
  word-wrap: break-word;
}

.noborder {
  border: none !important;
}

/* .landing-box {
  width: auto;
  height: 800px;
} */
.smart-text {
  color: #4f4f4f !important;
  padding: 5px;
  font-weight: 500;
}

.model-text {
  color: #4f4f4f;
  font-size: medium !important;
  padding: 5px;
  font-weight: 500;
}

.field-style-hr {
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(187, 187, 187);
  padding: 5px 10px;
  font-size: medium !important;
  width: 100%;
  color: #4f4f4f !important;
}

/* .ant-table-thead .ant-table-cell.dark_bg {
  background-color: green !important;
} */

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.project-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.project-tooltip .project-tooltiptext {
  visibility: hidden;
  width: auto;
  background-image: linear-gradient(to right, #667eea 0%, #764ba2 100%);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.project-tooltip:hover .project-tooltiptext {
  visibility: visible;
  line-height: 20px !important;
}

.signature {
  width: 100px;
  height: 50px;
}

.img.square {
  width: 150px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 3px;
  border: solid gray 1px;
  object-fit: cover;
}

.img.square img {
  visibility: hidden;
}

.leaveFrom p {
  font-size: larger !important;
}

.blink {
  color: #fff;
  /* animation: blink 2s linear infinite; */
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}


/*----------------------------------------------- responsibe start ----------------------------------*/

@media screen and (max-width: 991.98px) {
  .login-style {
    width: 100% !important;
    height: 100% !important;
  }

  .wing2 {
    margin-left: 15px;
  }

  .page-size {
    height: auto;
    width: auto;
  }

  .image-size {
    width: 0%;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767.98px) {
  .login-style {
    width: 100% !important;
    height: 100% !important;
  }

  .wing2 {
    margin-left: 0px;
  }

  .page-size {
    height: auto;
    width: auto;
  }

  .image-size {
    width: 0%;
    padding-bottom: 0px;
  }
}